<div class="container mt-5">
    <div class="row">
        <div class="col-md-12 info">
            <h1>Hola, soy Luis Rodríguez 👋.<br>Full Stack Developer 💻</h1>
            <p>Estudiante de TI en Universidad Politécnica de San Luis Potosí 🎓<br>
                Barista en mis tiempos libres ☕
            </p>
        </div>
    </div>
    <div class="container contact">
        <p>
            Contacto:
        </p>
        <div class="d-flex">
            <a href="https://www.linkedin.com/in/luis-rodriguezh/"
            class="css-button css-button-sliding-to-top m-2 css-button-sliding-to-top--linkedin"
            target="_blank">LinkedIn</a>
            <a href="https://github.com/LuisRdz224"
            class="css-button css-button-sliding-to-top m-2 css-button-sliding-to-top--github" target="_blank">GitHub</a>
            <a href="https://api.whatsapp.com/send?phone=+524442562214&text=Hola%20Luis%20%C3%81ngel,%20vi%20tu%20portafolio%20y%20me%20encantar%C3%ADa%20contactarte"
            class="css-button css-button-sliding-to-top m-2 css-button-sliding-to-top--whatsapp"
            target="_blank">WhatsApp</a>
        </div>


    </div>
</div>