<div class="about-me mt-5">
    <h2>Acerca de mi</h2>
    <div class="pt-4">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-3">
                <img src="../../../../assets/LuisAngel.jpeg" alt="Luis Rodriguez" class="profile-pic">
            </div>
            <div class="col-md-7">
                <p>
                    Soy Luis Ángel Rodríguez, desarrollador full stack apasionado por la tecnología y el café. Me
                    encanta
                    aprender nuevas maneras de programar y conocer gente nueva.
                </p>
                <p>
                    Uno de mis pasatiempos favoritos es, preparar café y crear nuevas recetas. Me gustan mucho los
                    deportes,
                    entre mis favoritos destacan el Fútbol ⚽ y la Fórmula 1 🏎
                </p>
                <p>
                    Mi principal interés está en desarrollar aplicaciones web con tecnologías como el MEAN stack. Mi
                    framework
                    favorito es Angular, aunque también me gusta mucho utilizar Vue
                </p>
            </div>
            <div class="col-md-1"></div>
        </div>
        <div class="container pt-5">
            <app-slider></app-slider>
        </div>
    </div>
</div>