<div class="slider">
    <div class="slide-track">
        <div class="slide">
            <img src="https://brandeps.com/logo-download/H/HTML-5-logo-vector-01.svg" height="100" width="250" alt="" />
        </div>
        <div class="slide">
            <img src="https://brandeps.com/logo-download/C/CSS-3-logo-vector-01.svg" height="100" width="250" alt="" />
        </div>
        <div class="slide">
            <img src="https://brandeps.com/icon-download/J/Javascript-icon-vector-03.svg" height="100" width="250"
                alt="" />
        </div>
        <div class="slide">
            <img src="https://brandeps.com/logo-download/N/Node-JS-logo-vector-01.svg" height="100" width="250"
                alt="" />
        </div>
        <div class="slide">
            <img src="https://brandeps.com/icon-download/A/Angular-icon-vector-04.svg" height="100" width="250"
                alt="" />
        </div>
        <div class="slide">
            <img src="https://brandeps.com/icon-download/V/Vue-icon-vector-02.svg" height="100" width="250" alt="" />
        </div>
        <div class="slide">
            <img src="https://brandeps.com/logo-download/M/MongoDB-logo-vector-01.svg" height="100" width="250"
                alt="" />
        </div>
        <div class="slide">
            <img src="https://brandeps.com/logo-download/M/MySQL-logo-vector-01.svg" height="100" width="250" alt="" />
        </div>
        <div class="slide">
            <img src="https://brandeps.com/logo-download/P/PHP-logo-vector-01.svg" height="100" width="250" alt="" />
        </div>
        <div class="slide">
            <img src="https://brandeps.com/logo-download/G/Git-logo-vector-01.svg" height="100" width="250" alt="" />
        </div>
        <div class="slide">
            <img src="https://brandeps.com/logo-download/F/Figma-logo-vector-01.svg" height="100" width="250" alt="" />
        </div>
    </div>
</div>